@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
   margin: 0;
   padding: 0;
   scroll-behavior:smooth;
}


nav {
   display: inline;
   position: fixed;

}

body {
   background-image: url(background.png );
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover
}
#title{
    margin-top: 100px;
    margin-left: 200px;
    font-size: 45px;
    font-family: audiowide;
    color: white;
}
.home {
    width: fit-content;
    font-family: 'Audiowide', cursive;
    color: white;
    display: flex;
    position: relative;
    writing-mode:vertical-rl;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20px;
 }
 .home:after {
    content: '';
    margin-left: -33px;
    margin-bottom: 30px;
    position: absolute;
    width: 60px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 .home:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
 .about {
    font-family: 'Audiowide', cursive;
    color: white;
    writing-mode: vertical-rl;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 70px;
    margin-left: 20px;
 }
 .about::after {
    content: '';
    margin-left: -17px;
    margin-bottom: 276px;
    position: absolute;
    width: 67px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 
 .about:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
 
 .contact {
    font-family: 'Audiowide', cursive;
    color: white;
    writing-mode: vertical-rl;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 70px;
    margin-left: 20px;
 
 }
 
 .contact::after {
    content: '';
    margin-left: -27px;
    margin-bottom: 118px;
    position: absolute;
    width: 85px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 
 .contact:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
.navbar {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
 }
 ::-webkit-scrollbar {
    width: 12px;
 }
 
 ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #7DFFFF);
    border-radius: 6px;
 }
 .logo{
    width: 240px; 
    height: 42px; 
    margin-top: 20px; 
    margin-left: 1250px;
 }
 .shortlogo{
    width: 70px; 
    height: 50px; 
    margin-top: 20px; 
    margin-left: 1250px;
    display: none;   
 }
 #project1
 {
    height: 250px;
    width: 400px;
    margin-top: 50px;
    margin-left: 200px;
 }
@media (max-width:767px) 
{
      #title{
        font-size: 35px;
        margin-left: 100px;
    }
    .home{
        display:none;
     }
     .about{
      display:none;
     }
     .contact{
      display:none;
     }
     .logo{
      display: none;
        
     } 
     .shortlogo{
     width: 70px;
    height: 50px;
    margin-top: 20px;
    margin-left: 260px;
    display: flex;
  }
  .navbar{
    position: absolute;
 }
       #project1
    {
        margin-left: 90px;
        margin-top: 70px;
        width: 200px;
        height: 150px;
    }
}
